<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OperationLogMapper">
    <insert id="insert" parameterType="com.example.entity.OperationLog">
        INSERT INTO `cq-hospital`.operationlog (module, type,
                                                user_id, user_name, method,description,
                                                params, create_time)
        VALUES (#{module}, #{type},
                #{userId}, #{userName}, #{method},#{description},
                #{params}, #{createTime})
    </insert>


</mapper>